<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="row">
        <div th:replace="fragments/loginBodyHeader :: bodyHeader"/>
    </div>
    <div>
        <div class="py-5 text-center">
            <h1 th:text="${post.title}"></h1>
            <h4 th:text="|카테고리 : ${post.getCategory().getName()}|"></h4>
            <h4 th:text="|작성자 : ${writer}|"></h4>
        </div>

        <h3 th:text="${post.content}"></h3>

        <hr>

        <h5 style="float: right" th:text="${post.createTime}"></h5>
    </div><br><br>

    <div>
        <h5>댓글</h5>
        <hr>
        <div th:each="comment : ${comments}">
            <p th:text="|${comment.member.name} : ${comment.content}|"></p>
            <div th:each="subComment : ${comment.subComment}"
                 style="margin-left: 30px">
                <p th:text="|${subComment.member.name} : ${subComment.content}|"></p>
            </div>
            <hr>
        </div>
    </div>
</div>

</body>
</html>